
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-touch-callout: none;
}

html,
body,
#root {
    height: 100%;
}

.App {
    height: 100%;
    width: 100%;
}
